.header {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
  display: flex;
}

.header__logo {
  width: 173px;
  height: 33px;
  margin-bottom: 41px;
}

.header__nav {
  display: flex;
  margin-left: auto;
  margin-bottom: 0;
}

.header__link {
  text-decoration: none;
  font-size: 16px;
  padding-top: 20px;
  align-items: center;
  color: white;
}

.header__link--white {
  color: white;
}
